<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.ams.mapper.MenuMapper">
    <select id="menuSearch" resultType="HashMap" parameterType="java.util.HashMap">
        select
            *
        from
            ams_db.tb_menu
        where
            ROLES LIKE '%${role}%'
        ORDER BY RANK DESC
    </select>
</mapper>
