<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.ams.mapper.TfUserMapper">
    <select id="login" resultType="TfUserVO" parameterType="java.util.HashMap">
        select
            *
        from
            THEFACTOR2.TF_USER
        where
            USER_ID = #{userId}
    </select>
</mapper>
