<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.systemk.thefactor2.mapper.AssetMgmtMapper">-->
<!--    <select id="assetMgmtList" resultType="AssetMgmtVO">-->
<!--        SELECT-->
<!--            asset_management_seq-->
<!--            , asset_control_code-->
<!--            , asset_name-->
<!--            , model_number-->
<!--            , asset_division-->
<!--            , serial_number-->
<!--            , manufacturer-->
<!--            , asset_reg_date-->
<!--            , asset_reg_person-->
<!--            , asset_barcode-->
<!--            , asset_purchase-->
<!--            , asset_price-->
<!--            , asset_status-->
<!--            , asset_dept-->
<!--            , asset_location-->
<!--            , warranty-->
<!--            , asset_contact-->
<!--            , asset_quantity-->
<!--            , asset_detail-->
<!--            , mapping_yn-->
<!--        FROM asset_management-->
<!--        where 1=1-->
<!--        order by asset_management_seq desc-->
<!--    </select>-->
<!--</mapper>-->

<mapper namespace="com.systemk.thefactor2.mapper.AssetMgmtMapper">
    <select id="assetMgmtList" resultType="AssetMgmtVO" parameterType="java.util.HashMap">
        select
            asset_management_seq
            , asset_control_code
            , asset_name
            , model_number
            , asset_division
            , serial_number
            , manufacturer
            , asset_reg_date
            , asset_reg_person
            , asset_barcode
            , asset_purchase
            , asset_price
            , asset_status
            , asset_dept
            , asset_location
            , warranty
            , asset_contact
            , asset_quantity
            , asset_detail
            , mapping_yn
        from
         asset_management
        where 1=1
        <foreach collection="list" item="item">
            AND
            ${item}
        </foreach>
        order by
        <if test="sort.size == 0">
            asset_management_seq desc
        </if>
        <foreach collection="sort" item="item" separator=",">
            ${item}
        </foreach>
        limit ${start}, ${end}
    </select>
</mapper>
