<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.thefactor2.Mapper.TfAcStockMapper">

    <select id="findAcStock" resultType="java.util.Map" parameterType="String">
        select * from tf_ac_stock tas left outer join tf_stock ts on tas.TF_PRD_BARCODE = ts.TF_PRD_BARCODE and tas.STORE_CD = ts.STOCK_STORE_CD where tas.STORE_CD = #{item}
    </select>

    <select id="findStockByTagId" resultType="TfAcStockVO" parameterType="java.util.Map">
        select * from tf_ac_stock where TF_PRD_TAGID = #{item};
    </select>

    <select id="stockCheck" resultType="java.util.Map" parameterType="String">
        select TF_PRD_NM as tfPrdNm, tas.REG_DATE as regDate from tf_ac_stock tas inner join tf_stock ts on tas.TF_PRD_BARCODE = ts.TF_PRD_BARCODE where tas.TF_PRD_TAGID = #{item} limit 1
    </select>

    <select id="findTagId" resultType="String" parameterType="String">
        select TF_PRD_TAGID from tf_ac_stock where TF_PRD_BARCODE = #{item}
    </select>

</mapper>
