<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.thefactor2.Mapper.TfBrandMapper">
    <select id="brandList" resultType="TfBrandVO">
       SELECT * FROM TF_BRAND
       WHERE CODE_LEVEL = 'B'
       ORDER BY BRAND_KIND_CD ASC
    </select>

    <select id="genderList" resultType="TfBrandVO" parameterType="String">
        SELECT * FROM TF_BRAND
        WHERE SUBSTR(BRAND_KIND_CD,1,2) = #{item}
          AND CODE_LEVEL = 'M'
        ORDER BY BRAND_KIND_CD ASC
    </select>

    <select id="clsList" resultType="TfBrandVO" parameterType="String">
        SELECT * FROM TF_BRAND
        WHERE substr(BRAND_KIND_CD,1,4) = #{item}
          AND CODE_LEVEL = 'S'
        ORDER BY BRAND_KIND_CD ASC
    </select>

    <select id="brandSubList" resultType="TfBrandVO" parameterType="String">
        SELECT *
        FROM TF_BRAND
        WHERE SUBSTR(BRAND_KIND_CD, 1, 2) = #{item}
            AND (
                CODE_LEVEL = 'M'
                OR
                CODE_LEVEL = 'S'
                )
        ORDER BY BRAND_KIND_CD ASC
    </select>

    <select id="findBrand" resultType="TfBrandVO" parameterType="String">
        SELECT *
        FROM TF_BRAND
        WHERE BRAND_KIND_CD = #{item}
    </select>

    <select id="detailSearch" resultType="java.util.Map" parameterType="String">
        select (select BRAND_NM from tf_brand tb where BRAND_KIND_CD = #{item}) as clsNm,
               (select BRAND_NM from tf_brand tb where BRAND_KIND_CD = concat(substr(#{item},1, 4),'00')) as genderNm,
               (select BRAND_NM from tf_brand tb where BRAND_KIND_CD = concat(substr(#{item},1, 2),'0000')) as brandNm;
    </select>






</mapper>
