<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.thefactor2.Mapper.TfBrandMapper">
    <select id="brandList" resultType="TfBrandVO">
       SELECT * FROM TF_BRAND
       WHERE CODE_LEVEL = 'B'
       ORDER BY BRAND_KIND_CD ASC
    </select>

    <select id="genderList" resultType="TfBrandVO" parameterType="String">
        SELECT * FROM TF_BRAND
        WHERE SUBSTR(BRAND_KIND_CD,1,2) = #{item}
          AND CODE_LEVEL = 'M'
        ORDER BY BRAND_KIND_CD ASC
    </select>

    <select id="clsList" resultType="TfBrandVO" parameterType="String">
        SELECT * FROM TF_BRAND
        WHERE substr(BRAND_KIND_CD,1,4) = #{item}
          AND CODE_LEVEL = 'S'
        ORDER BY BRAND_KIND_CD ASC
    </select>

    <select id="brandSubList" resultType="TfBrandVO" parameterType="String">
        SELECT *
        FROM TF_BRAND
        WHERE SUBSTR(BRAND_KIND_CD, 1, 2) = #{item}
            AND (
                CODE_LEVEL = 'M'
                OR
                CODE_LEVEL = 'S'
                )
        ORDER BY BRAND_KIND_CD ASC
    </select>

    <select id="findBrand" resultType="TfBrandVO" parameterType="String">
        SELECT *
        FROM TF_BRAND
        WHERE BRAND_KIND_CD = #{item}
    </select>

    <select id="brandAllList" resultType="TfBrandVO">
        SELECT
            BRAND_KIND_CD
             , BRAND_NM
             , PRD_CNT
             , CODE_LEVEL
             , REG_DATE
             , REG_ID
             , MOD_DATE
             , MOD_ID
        FROM
            TF_BRAND
        WHERE 1=1
        ORDER BY BRAND_KIND_CD ASC
    </select>

    <!--브랜드 추가-->
    <insert id="brandSave" parameterType="java.util.Map">
        INSERT INTO TF_BRAND
            (BRAND_KIND_CD, BRAND_NM, PRD_CNT, CODE_LEVEL, USE_YN, REG_DATE, REG_ID)
        VALUES(
            #{brandKindCd}, #{brandNm}, #{prdCnt}, #{codeLevel}, #{useYn}, SYSDATE(), #{regId}
              )
    </insert>

    <!--브랜드 수정-->
    <update id="brandUpdate" parameterType="java.util.Map">
        UPDATE TF_BRAND
        SET
          , BRAND_NM = #{brandNm}
          , PRD_CNT = #{prdCnt}
          , CODE_LEVEL = #{codeLevel}
          , USE_YN = #{useYn}
          , MOD_ID = #{modId}
          , MOD_DATE = SYSDATE()
        WHERE
            BRAND_KIND_CD = #{brandKindCd}
    </update>

    <!--브랜드 삭제-->
    <update id="brandDelete" parameterType="java.util.Map">
        UPDATE TF_BRAND
        SET
            USE_YN = 'N'
        WHERE
            BRAND_KIND_CD = #{brandKindCd}
    </update>

</mapper>
