<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.thefactor2.Mapper.TfInputMapper">

    <select id="inputList" resultType="TfInputVO" parameterType="java.util.HashMap">
        SELECT
            *
        FROM
            TF_INPUT
        WHERE 1=1
        <foreach collection="list" item="item">
            ${item}
        </foreach>
        <choose>
            <when test = "sort != null">
            order by ${sort} ${direct}
            </when>
            <otherwise>
            order by ST_IN_SEQ desc
            </otherwise>
        </choose>

        <choose>
           <when test = "total != null">

           </when>
            <otherwise>
                limit ${start}, ${size}
            </otherwise>
        </choose>
    </select>

    <insert id="inputNew" statementType="CALLABLE" parameterType="java.util.HashMap">
        { call input_new(#{ymd}, #{userId}, #{brandCd}, #{prdNm}, #{ecPrdCd}, #{prdCd}, #{barcode}, #{size}, #{tagId}, #{storeCd}, #{storeNm}, #{tagStat}, #{deviceGub}, #{inType})}
    </insert>

    <insert id="inputRe" statementType="CALLABLE" parameterType="java.util.HashMap">
        { call input_re(#{ymd}, #{userId}, #{brandCd}, #{prdNm}, #{ecPrdCd}, #{prdCd}, #{barcode}, #{size}, #{tagId}, #{storeCd}, #{storeNm},#{outStoreCd}, #{outStoreNm}, #{deviceGub}, #{inType})}
    </insert>

    <select id="inputDeleteList" resultType="TfInputVO" parameterType="java.util.List">
        SELECT
        *
        FROM
        TF_INPUT
        WHERE
        ST_IN_SEQ IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            ${item}
        </foreach>
    </select>

    <delete id="inputDelete" parameterType="java.util.HashMap">
        { call input_delete(${ST_IN_SEQ}, #{ST_IN_DATE}, #{USER_ID}, #{PRD_BARCODE}, #{TF_PRD_TAGID}, #{IN_STORE_CD}, #{ST_IN_TYPE})}
    </delete>

    <select id="inSubList" resultType="Map" parameterType="java.util.HashMap">
        select ST_IN_DATE as ST_DATE ,IN_STORE_CD as STORE_CD, ST_IN_TYPE as ST_TYPE, TF_PRD_NM, count(*) as cnt
        from tf_input
        where 1=1
        <foreach collection="list" item="item">
            ${item}
        </foreach>
        group by ST_IN_DATE, IN_STORE_CD,  ST_IN_TYPE, TF_PRD_NM
        limit ${start}, ${size}
    </select>

</mapper>
