<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.thefactor2.Mapper.TfOutputMapper">


    <select id="outList" resultType="TfOutputVO" parameterType="java.util.HashMap">
        SELECT
        *
        FROM
        TF_OUTPUT
        WHERE 1=1
        <foreach collection="list" item="item">
            ${item}
        </foreach>
        <choose>
            <when test = "sort != null">
                order by ${sort} ${direct}
            </when>
            <otherwise>
                order by ST_OUT_SEQ desc
            </otherwise>
        </choose>

        <choose>
            <when test = "total != null">

            </when>
            <otherwise>
                limit ${start}, ${size}
            </otherwise>
        </choose>

    </select>


    <select id="outputSearch" resultType="TfOutputVO" parameterType="String">
        select * from tf_output where TF_PRD_TAGID = #{item}
    </select>

    <insert id="outputAdd" statementType="CALLABLE" parameterType="java.util.HashMap">
        { call output(#{ymd}, #{userId}, #{brandCd}, #{prdNm}, #{ecPrdCd}, #{prdCd}, #{barcode}, #{size}, #{tagId}, #{inStoreCd}, #{inStoreNm}, #{outStoreCd}, #{outStoreNm}, #{deviceGub}, #{outType})}
    </insert>

    <select id="outDeleteList" resultType="TfOutputVO" parameterType="java.util.List">
        SELECT
        *
        FROM
        TF_OUTPUT
        WHERE
        ST_OUT_SEQ IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            ${item}
        </foreach>
    </select>

    <delete id="outDelete" parameterType="java.util.HashMap">
        { call output_delete(${stOutSeq}, #{stOutDate}, #{userId}, #{barcode}, #{tagId}, #{storeCd}, #{stOutType})}
    </delete>

</mapper>
