<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.thefactor2.Mapper.TfStockMapper">

    <select id="stockList" resultType="Map" parameterType="java.util.HashMap">
        select STOCK_REG_SEQ, STOCK_STORE_CD, STOCK_STORE_NM, tp.BRAND_KIND_CD , stk.TF_PRD_CD,stk.TF_PRD_NM,TF_PRD_BARCODE ,PRD_SIZE,REAL_STOCK_CNT , RFID_STOCK_CNT, INVENTORY_CNT, stk.MOD_DATE
        from (select * from tf_stock ts
        where true
        <foreach collection="list" item="item">
            ${item}
        </foreach>
            order by STOCK_REG_SEQ desc limit ${start}, ${size}) as stk
        left outer join tf_product tp
        on stk.TF_PRD_CD = tp.TF_PRD_CD
    </select>

    <select id="stockExList" resultType="Map" parameterType="java.util.HashMap">
        select STOCK_REG_SEQ, STOCK_STORE_CD, STOCK_STORE_NM, tp.BRAND_KIND_CD , stk.TF_PRD_CD,stk.TF_PRD_NM,TF_PRD_BARCODE ,PRD_SIZE,REAL_STOCK_CNT , RFID_STOCK_CNT, INVENTORY_CNT, stk.MOD_DATE
        from
            (
                select
                    *
                from
                    tf_stock ts
                where
                    (ts.RFID_STOCK_CNT - ts.REAL_STOCK_CNT) != 0
                order by
                    STOCK_REG_SEQ desc limit ${start}, ${size}) as stk
                left outer join tf_product tp on
                stk.TF_PRD_CD = tp.TF_PRD_CD
    </select>

    <select id="stockListSearch" resultType="Map" parameterType="java.util.HashMap">
        select STOCK_REG_SEQ, STOCK_STORE_CD, STOCK_STORE_NM, tp.BRAND_KIND_CD , stk.TF_PRD_CD,stk.TF_PRD_NM,TF_PRD_BARCODE ,PRD_SIZE,REAL_STOCK_CNT , RFID_STOCK_CNT, INVENTORY_CNT, stk.MOD_DATE
        from (select * from tf_stock ts
        where true
        <if test="STORE_CD != null">
            AND STOCK_STORE_CD = #{STORE_CD}
        </if>
        <if test="PRD_SIZE != null">
            AND PRD_SIZE = #{PRD_SIZE}
        </if>
        order by STOCK_REG_SEQ desc ) as stk
        left outer join tf_product tp
        on stk.TF_PRD_CD = tp.TF_PRD_CD
        where true
        <if test="BRAND_KIND_CD != null">
            AND BRAND_KIND_CD like '${BRAND_KIND_CD}%'
        </if>
        limit ${start}, ${size}
    </select>

    <select id="workCnt" resultType="Map" parameterType="java.util.HashMap">
        select
            (select count(*) from tf_input where BT_PRD_BARCODE = 'barcode' and IN_STORE_CD = 'storeCd') as inCnt,
            (select count(*) from tf_output where BT_PRD_BARCODE = 'barcode' and OUT_STORE_CD = 'storeCd' and substring(ST_OUT_TYPE,1,4) = '0602'  ) as outCnt,
            (select count(*) from tf_output where BT_PRD_BARCODE = 'barcode' and OUT_STORE_CD = 'storeCd' and ST_OUT_TYPE = '060301'  ) as stCnt,
            (select count(*) from tf_output where BT_PRD_BARCODE = 'barcode' and OUT_STORE_CD = 'storeCd' and ST_OUT_TYPE = '060302'  ) as onCnt
    </select>

    <select id="findStockInfo" resultType="TfStockVO" parameterType="String">
        select * from tf_stock ts where TF_PRD_BARCODE = #{item} limit 1
    </select>

    <select id="stockCheck" resultType="Integer" parameterType="java.util.Map">
        select count(*) from tf_stock_test
        WHERE STOCK_STORE_CD = #{STOCK_STORE_CD}
        AND TF_PRD_BARCODE= #{TF_PRD_BARCODE}
    </select>

    <insert id="stockSave" parameterType="java.util.Map">
        INSERT INTO tf_stock_test
        (STOCK_STORE_CD, STOCK_STORE_NM, TF_PRD_CD, TF_PRD_NM, TF_PRD_BARCODE, PRD_SIZE, CUR_STOCK_CNT, REAL_STOCK_CNT, STD_STOCK_CNT, RFID_STOCK_CNT, INVENTORY_CNT, REG_DATE, REG_ID)
        VALUES(#{STOCK_STORE_CD}, #{STOCK_STORE_NM}, #{TF_PRD_CD}, #{TF_PRD_NM}, #{TF_PRD_BARCODE}, #{PRD_SIZE}, #{CUR_STOCK_CNT}, #{REAL_STOCK_CNT}, #{STD_STOCK_CNT}, 0, 0, now(), #{userId})
    </insert>

    <update id="stockUpdate" parameterType="java.util.Map">
        UPDATE tf_stock_test
        SET CUR_STOCK_CNT=${CUR_STOCK_CNT}, REAL_STOCK_CNT=${REAL_STOCK_CNT}, STD_STOCK_CNT=${STD_STOCK_CNT}, MOD_ID= #{userId} , MOD_DATE = now()
        WHERE STOCK_STORE_CD = #{STOCK_STORE_CD}
        AND TF_PRD_BARCODE= #{TF_PRD_BARCODE}
    </update>

</mapper>
