<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.thefactor2.Mapper.TfStockMapper">


    <select id="findStockInfo" resultType="TfStockVO" parameterType="String">
        select * from tf_stock ts where TF_PRD_BARCODE = #{item} limit 1;
    </select>


</mapper>
