<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.thefactor2.Mapper.TfUserMapper">
    <select id="login" resultType="TfUserVO" parameterType="java.util.HashMap">
        SELECT
            PER_MEMBER_NO
             , USER_ID
             , USER_PWD
             , USER_NM
             , STORE_CD
             , USER_RANK_CD
             , USER_PHONE
             , USER_EMAIL
             , GRADE
             , REQ_JOIN_DATE
             , PDA_USE_YN
             , USER_STAT
        FROM
            TF_USER
        WHERE 1=1
        AND USER_ID = #{userId}
    </select>

    <select id="userList" resultType="TfUserVO" parameterType="java.util.HashMap">
        SELECT
            PER_MEMBER_NO
             , USER_ID
             , USER_NM
             , STORE_CD
             , USER_RANK_CD
             , USER_PHONE
             , USER_EMAIL
             , GRADE
             , REQ_JOIN_DATE
             , PDA_USE_YN
             , USER_STAT
             , REG_USER_ID
        FROM
            TF_USER
        WHERE 1=1
        <foreach collection="list" item="item">
            ${item}
        </foreach>
        <choose>
            <when test = "sort != null">
            order by ${sort} ${direct}
            </when>
            <otherwise>
            order by PER_MEMBER_NO desc
            </otherwise>
        </choose>
            limit ${start}, ${size}
    </select>

    <insert id="userSave" parameterType="java.util.Map">
        INSERT INTO TF_USER
        (USER_ID, USER_PWD, USER_NM, STORE_CD, USER_RANK_CD, USER_PHONE, USER_EMAIL, GRADE, REQ_JOIN_DATE, PDA_USE_YN, USER_STAT, REG_USER_ID)
        VALUES(#{userId}, #{userPwd}, #{userNm}, #{storeCd}, #{userRankCd}, #{userPhone}, #{userEmail}, #{grade}, CURDATE(), #{pdaUseYn}, #{userStat}, #{regUserId})
    </insert>

    <update id="userPwUpdate" parameterType="java.util.Map">
        UPDATE TF_USER
        SET USER_PWD = #{userPwd}
        WHERE USER_ID = #{userId}
    </update>

    <update id="userUpdate" parameterType="java.util.Map">
        UPDATE TF_USER
        SET USER_NM = #{userNm}, STORE_CD=#{storeCd}, USER_RANK_CD=#{userRankCd}, USER_PHONE=#{userPhone}, USER_EMAIL=#{userEmail}, GRADE=#{grade}, PDA_USE_YN=#{pdaUseYn}, USER_STAT=#{userStat}
        WHERE USER_ID = #{userId}
    </update>

    <update id="userWd" parameterType="Integer">
        UPDATE TF_USER
        SET USER_STAT = 'N'
        WHERE PER_MEMBER_NO = ${perMemberNo}
    </update>

</mapper>
