<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.systemk.Mapper.TfUserAuthMapper">

    <select id="authSearch" resultType="HashMap" parameterType="java.util.HashMap">
        select
            TP.PGM_CD,
            GRADE,
            STORE_CD,
            TP.PGM_NM,
            AUTH_SCH_YN,
            AUTH_SAVE_YN,
            AUTH_UPDATE_YN,
            AUTH_DEL_YN,
            AUTH_EXCEL_YN,
            TP.REG_DATE,
            TP.REG_ID,
            TP.MOD_DATE,
            TP.MOD_ID,
            GROUP_CD,
            PGM_URL,
            PGM_LEVEL
        from
            TF_USER_AUTH TUA, TF_PGM TP
        where
            TUA.PGM_CD = TP.PGM_CD
        AND
            GRADE = #{role}

    </select>

</mapper>
